@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lear Corp<br />
    Novi Sad, Ratno Ostrvo 8<br />
    <abbr title="Phone">P:</abbr>
    066 8891013
</address>

<address>
    <strong>Podrška:</strong>   <a href="mailto:SDL-NVS27@lear.com">Novi Sad IT</a><br />
    <strong>CI:</strong> <a href="mailto:mindjin@lear.com">Marko Indjin CI Coordinator</a>
</address>